.login_form {
  max-width: 30rem;
  margin: 3rem auto;
  text-align: left;
  font-size: 1rem;
}
.login_issues {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
  font-size: 1rem;
}
.sampleLogin{
  background-color: rgba(233, 117, 117, 0.217);
  margin-top:1rem;
  padding:1rem;
  /* color: white; */
  min-height:7rem;
}
.heading{
  text-decoration: underline;
  min-height: 1.5rem;
font-weight: bold;
}
/* typing effect */
