.order-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

/* Main header styling for all sections (Order Info, Delivery Info, Item Info) */
.section-title {
  font-size: 1.2rem; /* Larger font size for main headers */
  font-weight: 400; /* Bold to emphasize the main section titles */
  text-transform: uppercase; /* Uppercase for visual distinction */
  color: #333; /* Darker color for prominence */
  border-bottom: 2px solid #ccc; /* Subtle border below the main headers */
  padding-bottom: 0.5rem; /* Add some padding below */
  margin-bottom: 1rem; /* Space below the header */
}

/* Shared class for all info sections */
.info-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Grid layout for each section content */
.section-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: 1rem;
}

/* Styling for subheader labels (Time Placed, Order Number, etc.) */
.label {
  font-size: 1rem; /* Regular font size for subheaders */
  font-weight: 600; /* Slightly bold */
  color: #555; /* Gray color for subheaders */
  text-transform: capitalize; /* Capitalize subheader labels */
}

/* Styling for subheader values */
.value {
  font-size: 1rem; /* Regular size for values */
  color: #333; /* Darker color for values */
}

/* Specific section content class names */
.order-section-content,
.delivery-section-content,
.item-section-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: 1rem;
}

/* Individual content blocks for each section */
.order-content,
.delivery-content,
.item-content {
  display: contents;
}

/* Item-specific styling */
.item-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.item-image {
  align-self:flex-start;
  display:block;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
}