.categories_content {
  min-height: 100vh;
  padding-top: 3rem;
}
.categories_content_row {
  background-color: white;
  width: 95%;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  padding: 3rem 1rem 3rem;
  align-content: space-around;
  /* justify-content: space-around; */
}
.categories_content_row-item {
  width: 15rem;
  text-align: center;
  margin-bottom: 2rem;
}
.subcategory {
  text-decoration: underline;
}
.products {
  transition: background-color 0.3s, color 0.3s;
}
.products:hover {
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--color-zomp) 0%,
    var(--color-zomp-2-light) 33%,
    var(--color-pastrelred) 100%
  );
  color: white;
}
