.modal-content{
  padding:2rem;
}
.card-info {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Space between the icon and the card details */

}

.card-details {
  margin-left: 12px; /* Space between the SVG and the card details */
  flex-grow: 1; /* Allow this to grow and take available space */
}

.card-number {
  font-size: 1rem; /* Font size for card number */
  font-weight: bold; /* Make it bold */
}

.card-holder-name {
  font-size: 0.9rem; /* Slightly smaller font for the holder name */
  color: #555; /* Optional: a lighter color for the holder name */
}

.payment-info {
  text-align: right; /* Align text to the right */
}

.price-paid {
  font-size: 1.1rem; /* Adjust size for price */
  font-weight: bold; /* Make it bold */
}

.time-paid {
  font-size: 0.8rem; /* Smaller size for the time */
  color: #999; /* Optional: lighter color for the time */
}

.order-details > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
