.header_navbar {
  max-width: 90rem;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
}

.logo {
  max-width: 13rem;
}

.user {
  display: flex;
}

/* .user_profile {
  display: flex;
  gap: 1.3rem;
} */

.user_profile__user {
  text-decoration: underline;
}

.user_profile__profile {
  position: relative;
  min-width: 5rem;
  transform: translateY(-0.5rem);
}

.user_profile__profie-dropdown-items {
  background-color: white !important;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.25rem 0; /* reduced padding */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.95rem;
  min-width: 10rem;
  max-height: 15rem; /* restrict height */
  overflow-y: auto;  /* enable scroll */
  scrollbar-width: none; /* Firefox */
}

.user_profile__profie-dropdown-items::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.user_profile__profie-dropdown-items > * {
  color: black;
  padding: 0.1rem 1rem; /* reduced vertical padding */
  text-decoration: none;
  white-space: nowrap;
  color:white;
}
.dropdown-item {
  position: relative;
  z-index: 1;
  display: block;
  padding: 0.4rem 1rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
  line-height: 1.3;
  text-align: left;
  overflow: hidden;
}
.dropdown-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  background-color: var(--color-zomp);
  transform: scaleY(0);
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 0;
}
.dropdown-item:hover {
  color: white;
}
.dropdown-item:hover::before {
  transform: scaleY(1);
  width: 100%;
  z-index: -1;
}

.nav_icons {
  position: relative;
  margin: 0.2rem 0.2rem 0;
}

.nav_icons__count {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  padding: 0rem 0.2rem;
  border-radius: 10%;
  font-weight: bold;
  background-color: var(--color-pastrelred-lightest);
}

.search_icon {
  transform: translateY(0.2rem);
  transition: all 0.3s ease;
  border: none;
}
.search_form__control {
  transition: all 0.3s ease;
  transform-origin: left;
  color:var(--color-pastrelred-2);
}
.search_form__control:focus {
  transform: scaleX(1.07);
  color:var(--color-pastrelred);
  /* color: var(--color-grey-dark-2); */
  border-radius: 5px;
  font-weight: 500;
}
.search_form__control:focus + .search_icon {
  transform: translateX(-1.2rem);
}
.categories_search__menu {
  background-color: white;
  color: white;
  border: none;
  line-height: 0.8;
  font-size: 0.95rem;
  max-height: 10rem;
  overflow-y: auto;
}

.categories_search__menu::-webkit-scrollbar {
  display: none;
}

.header_login-btn {
  font-weight: bold;
}
.fa-caret-down{
  transition: transform 0.3s ease;
}