.purchase-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px;
  width: 400px;
  height: 17rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  font-family: Arial, sans-serif;
  position: relative;
}

.card-content {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.product-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.order-status {
  color: #555;
  font-size: 0.9rem;
}

.product-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}

.unit-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-top: 8px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  position: relative; /* This ensures the dropdown is positioned relative to this container */
  align-items: flex-start; /* Ensure items are centered vertically */
}

.buy-again-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  display: inline-block; /* Make sure it only takes up as much space as the content */
}

.more-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position:absolute;
  right:.2rem;
}

.more-actions-btn {
  background-color: #6c757d;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.more-actions-btn:hover {
  background-color: #5a6268;
}
.dropdown-meu {
  border: 0.2rem solid black;
  background-color: white;
  margin-top: 0.5rem;
}
.more-actions-options {
  list-style: none;
}
