.cart_items_item {
  display: flex;
  gap: 0.2rem;
  width: 30rem;
  border: 1px solid rgba(71, 70, 70, 0.277);
  padding: 0.2rem;
  background-color: white;
  margin-bottom: 1rem;
  align-items: center;
}
.cart_items_item_image {
  width: 10rem;
}
.cart_items_item_image-img {
  width: 10rem;
  height: 10rem;
}
.cart_items_item_details {
  position: relative;
  width: 20rem;
}
.cart_items_item_details-name {
  font-weight: bold;
  margin: 0.5rem 0;
}
.cart_items_item_details-price {
  margin-bottom: 0.5rem;
}
.price {
  font-weight: bold;
}
.itemSelection_body__shoping-filter {
  margin-bottom: 0.5rem;
}
.cart_items_item_details-remove {
  position: absolute;
  top: 0;
  right: 0.2rem;
  margin-left: 2rem;
}
.cart_items_item_details-later {
  position: absolute;
  bottom: 0;
  right: 0.2rem;
  color: var(--color-pastrelred);
}
