:root {
  --color-charcoal: #2e4057;
  --color-charcoal-lightest: #2e405737;
  --color-zomp: #66a182;
  --color-zomp-2: #08a752;
  --color-zomp-2-light: #31714f;
  /* --color-zomp-lightest: #66a181ab; */
  --color-teagreen: #caffb9;
  --color-lightgreen: #aef78e;
  --color-yellowgreen: #c0d461;
  --color-yellowgreen-light: #c1d4613a;
  --color-pastrelred: #ff6b6b;
  --color-pastrelred-2: #f07474;
  --color-pastrelred-2-light: #f0747432;
  --color-pastrelred-lightest: #ff6b6bc4;
  --color-sunsetorange: #ff5e57;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-2-light: #77777718;
  --color-grey-dark-3: #999;
  --color-grey-dark-3-light: #99999980;
  --color-grey-dark-3-lightest: #99999924;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}
html {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  /* margin: 0.2rem; */
}
* {
  margin: 0;
  padding: 0;
}
.app {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 30rem;
}

/* Utility class */
.dropdown-toggle {
  padding-left: 0;
}
.color-white {
  color: white;
}
.font-bold {
  font-weight: 600;
}
.color-pastrelred {
  color: var(--color-pastrelred);
}
.-util-font15 {
  font-size: 1.5rem !important;
}
.-util-font20 {
  font-size: 2rem !important;
}
.-util-btn-positive,
.-util-btn-positive:hover,
.-util-btn-positive:focus,
.-util-btn-positive:target,
.-util-btn-positive:visited,
.-util-btn-positive:active {
  background-color: var(--color-zomp-2) !important;
  border: none !important;
  outline: none !important;
  outline-offset: none !important;
}
.-util-fav,
.-util-fav:hover,
.-util-fav:focus,
.-util-fav:target,
.-util-fav:visited,
.-util-fav:active {
  background-color: var(--color-pastrelred) !important;
  border: none !important;
  font-size: 0.9rem;
  width: 6rem;
}
.-util-share,
.-util-share:hover,
.-util-share:focus,
.-util-share:target,
.-util-share:visited,
.-util-share:active {
  background-color: var(--color-yellowgreen) !important;
  border: none !important;
  font-size: 0.9rem;
  /* width: 6rem; */
}
.-util-cart,
.-util-cart:hover,
.-util-cart:focus,
.-util-cart:target,
.-util-cart:visited,
.-util-cart:active {
  background-color: var(--color-zomp) !important;
  border: none !important;
  font-size: 0.9rem;
  width: 6rem;
}
.-util-brdr-btm-none {
  border: none !important;
}
.-util-form {
  background-color: rgba(243, 89, 42, 0.1);
  padding: 2rem;
  border-radius: 15px;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
}
.-util-btnback {
  background-color: var(--color-grey-dark-3) !important;
  border: none !important;
  max-width: 4.4rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  transition: all 0.3s;
}
.-util-backicon {
  transition: all 0.3s;
}
.-util-btnback:hover .-util-backicon {
  transform: translateX(-0.5rem);
}
/* for the image flowing out of the card */

.-util-required::after {
  content: "*";
  color: red;
  display: inline-block;
}
.-util-togglemenu > *:active {
  background-color: var(--color-zomp-2);
}
.-util-borderbottom {
  border-bottom: 1px solid rgb(162, 159, 159);
}
.-util-textdecoration-none {
  text-decoration: none;
}
/* side bar categories on click */
.-util-clicked {
  background-color: var(--color-zomp);
  color: white !important;
}
/* overriding default elements styling */
.card {
  /* for the custom card, it is used in the home page */
  overflow: hidden;
}
.form-control {
  transition: all 1s;
}
.form-control:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--color-zomp);
}
.form-select:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--color-zomp);
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .search-and-icons,
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .search-and-icons {
    width: 70%;
  }
  .navbar form {
    flex: 1;
  }
}

@media screen and (max-width: 1445px) {
  .footer_footer__list-first {
    margin-left: 0.5rem;
  }
  .footer_footer__list-last {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 991px) {
  .header {
    position: static;
    top: 0;
  }
  .navbar-nav > * {
    width: 10rem;
  }
  .nav_icons__count {
    position: absolute;
    top: 3rem;
    left: 5rem;
    padding: 0rem 0.2rem;
    border-radius: 10%;
    width: fit-content;
  }
  .logo {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 840px) {
  .itemSelection_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .itemSelection_body__shopping {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 815px) {
  .carousel {
    display: block;
    max-width: 90vw;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    margin-left: 0;
  }
  .favourites_content__items {
    max-width: 30rem;
    margin: 0 auto;
  }
  .cart_content {
    display: flex;
    flex-direction: column;
  }
  .cart_content__checkout {
    max-width: 5rem;
    padding: 0.5rem 0.9rem !important;
    margin: 2rem auto !important;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 90%;
  }
  .buynow_details {
    display: block;
  }
  .buynow_details__paymentmethods {
    display: flex;
    flex-direction: column;
  }
}
/* alert */
